<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css"/>    
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.js"></script>
  <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.9/dist/angular-nvd3.js"></script>

  <!--script src="js/controlUI.js" ></script-->
  <script src="js/chart.js" ></script>
  
  
  </head>


  <body>
    <div ng-app="myApp" class="container-fluid" ng-controller="myCtrl" >
	
	
		<div class="row">
			<div class="col-md-12">			
				<div >				
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">

							
							<div class="btn-group btn-group-justified menu-header navbar-toggle " role="group" aria-label="...">
								<a href="#"  class="btn btn-default {{activeDaily}}"  ng-click='timeOption("daily")' role="button">Daily</a> 
								<a href="#"  class="btn btn-default {{activeWeekly}}" ng-click='timeOption("weekly")' role="button">Weekly</a>
								<a href="#"  class="btn btn-default {{activeMontly}}" ng-click='timeOption("monthly")' role="button">Monthly</a>
								<a href="#"  class="btn btn-default collapse wrap-button-collapse" role="button" >
									<button type="button" class="" ng-click="isNavCollapsed = !isNavCollapsed">
									
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>															
								</a>
	
								
							</div>
							
						</div>
						<div >
							
						  <div class="row">							
							<div id="container-left" class="col-md-3">
							
							  <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" >
								  <div class="btn-group btn-group-justified" role="group" aria-label="...">
									
									<div class="btn btn-default patient-container" role="button">

									  <div class="thumbnail-patient" >
										<img src="images/anna.png" alt="...">
									  </div>
									  <div class="info-patient">
										<p>Anna coonors</p>
										<p>Patient</p>                
									  </div>

									</div> 

									<div class="btn btn-default" role="button">
									  <span class="icon-left-menu">
										<img src="images/user-info.png" alt="...">
									  </span>
									  <span class="menu-title">User Info.</span>
									</div>

									<div class="btn btn-default" role="button">
									  <span class="icon-left-menu">
										<img src="images/accounts.png" alt="...">
									  </span>
									  <span class="menu-title">Accounts</span>
									</div>

									<div class="btn btn-default" role="button">              
									  <span class="icon-left-menu privacy">
										<img  src="images/privacy.png" alt="...">
									  </span>
									  <span class="menu-title">Privacy</span>              
									</div> 

									<div class="btn btn-default" role="button">              
									  <span class="icon-left-menu help">
										<img src="images/help.png" alt="...">
									  </span>              
									  <span class="menu-title">Help</span>
									</div>

									<a class="btn btn-default wrap-loading" role="button">
									  <span class="loading">
										<img src="images/loading.png"/>
									  </span>              
									</a>            

								  </div> 
							  </div>

							</div>
							<div class="col-md-9" >
							  <div id="menu-header" class="row "  >
								<div class="col-md-12 wrap-menu-center" >
								  <div class="btn-group btn-group-justified " role="group" aria-label="...">
									
									<a href="#"  class="btn btn-default {{activeDaily}}"  ng-click='timeOption("daily")' role="button">Daily</a> 
									<a href="#"  class="btn btn-default {{activeWeekly}}" ng-click='timeOption("weekly")' role="button">Weekly</a>
									<a href="#"  class="btn btn-default {{activeMontly}}" ng-click='timeOption("monthly")' role="button">Monthly</a>

								  </div>                        
								</div>
							  </div>

							  <div class="row option-sleeping" >
								<div class="col-md-2" >

								  <ul class="list-inline text-center">
									<li class=" ">
									  <a href="#" class="icon-sleeping" ng-click='dreamOption("spo2")'>
										<img src="images/SPO2.png">
									  </a>
									</li>
									<li class=" ">
									  <a href="#" class="icon-sleeping" ng-click='dreamOption("sleepHour")'>
										<img src="images/sleep-hours.png">
									  </a>
									</li>
									<li class="">
									  <a href="#" class="icon-sleeping" ng-click='dreamOption("pulse")'>
										<img src="images/pulse.png">
									  </a>
									  
									</li>
									<li class=" ">
									  <a href="#" class="icon-sleeping" ng-click='dreamOption("sleepPosition")'>
										<img src="images/sleeping-position.png">
									  </a>                  
									</li>
								  </ul>   

								</div>

								<div class="col-md-10" >
								  <div>
									<!-- container to draw chart -->
									<div  >
									  <nvd3 options="options" data="data" config="config"></nvd3> 
									</div>
								  </div>
								</div>

							  </div>

							  <div class="row">
								<div class="col-md-12" >
								  <div class="banner-footer"></div>
								</div>
							  </div>

							</div>        
						  </div>	
							
						</div>
					</nav>
				</div>	
			
			</div>
		</div>

    </div>

  </body>

</html>
