.menu-header.btn-group-justified>.btn{
	/*width: 29% !important*/
}

.menu-header button{
    padding: 5px 5px;	
}

.wrap-button-collapse{
	background: transparent !important;
}

.menu-header{
	border: none !important;
	margin-right: 0px !important
}

.menu-header .collapse-button{
	background: none !important;
}
.menu-header .btn{
	border: none;
}

#menu-header .btn, .menu-header .btn{
	width: 100%;
    background: #1F4F8A;
    color: #ffffff;
    font-size: 16px;	
}

#menu-header .btn-group, .menu-header.btn-group{
	width: 100%	
}

#open-left-menu .glyphicon-align-justify {
	font-size: 42px;
    margin: 20px 0px;
}

#container-left .btn{
	width: 100%;
    background: #1F4F8A;
    color: #ffffff;
    font-size: 16px;
    display: block;	
}

.thumbnail-patient, .info-patient{
	display: inline-block;
}

.info-patient{
	vertical-align: middle;
    text-align: left;
    margin-left: 5px;
    line-height: 1;
    margin-left: 5px	
}

.thumbnail-patient img{
	border-radius: 50%;
}

.patient-container{	
	padding-top: 10% !important;		
	padding-bottom: 15% !important
}

.info-patient p:nth-child(2){
	color: rgb(211, 211, 211)
}

.icon-left-menu{
    display: inline-block;
    width: 70px;
    height: 66px;
}

.icon-left-menu.help{
	margin-left: -35px;
}

.icon-left-menu.privacy{
	margin-left: -15px;
}

#container-left .menu-title{
    font-size: 20px;
}

#container-left .wrap-loading{
    padding: 15% 0px;	
}

#container-left{
    /*padding-right: 0px !important;*/	
}

#menu-header .wrap-menu-center{
	/*padding-left: 0px !important;*/	
}

.option-sleeping .icon-sleeping{
    display: inline-block;
    width: 115px; 
    margin: 5% 0%   
}

.option-sleeping .icon-sleeping img{
	margin: 0 auto;
	display: block;
}

.banner-footer{
	background-image: url("images/banner-footer.png");
    background-repeat: repeat-y;	
}

.wrap-menu-center .btn-group a.btn.active, .menu-header a.btn.active{
	background-color: #31b0d5 !important;
	color: #ffffff
}

/*styles bootstrap */

  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
  
  @media (max-width: 768px) {
    #menu-header {
        display: none!important;
    }
  }  
  
  @media (max-width: 991px) {
    #menu-header {
        display: none!important;
    }
	
    .menu-header {
        display: table!important;
    }	
	
	/*#container-left .navbar-collapse{
		display: none!important;
	}*/
	
    .navbar-toggle {
        display: block;
    }	
	
	.navbar-header{
		float: none !important
	}
	
    #container-left .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #container-left .navbar-collapse.collapse {
        display: none!important;
    }

	    /* since 3.1.0 */
    #container-left .navbar-collapse.collapse.in { 
        display: block!important;
    }
    #container-left .collapsing {
        overflow: hidden!important;
    }
	
	.patient-container {
		padding-top: 2% !important;
		padding-bottom: 2% !important;
	}	
	
	#container-left .wrap-loading{
		padding: 5%;
	}	
	
	
  } 

  
  